<div style = "float:left; width:200px;">
	<h1>Index:</h1>
	{% for i in counts %}
		<p stlye = "width:200px; margin:0px;">index: {{ i }}</p>
	{% endfor%}
</div>


<div style = "float:left; width:200px;">
	<h1>Values:</h1>
	{% for i in Frame %}
		<p>value: {{ i }}</p>
	{% endfor%}
</div>

<div style = "float:left; width:200px;">
	<h1>Num:</h1>
	{% for i in num %}
		<p>value: {{ i }}</p>
	{% endfor%}
</div>

<div style = "float:left; width:200px;">
	<h1>Denom:</h1>
	{% for i in denom %}
		<p>value: {{ i }}</p>
	{% endfor%}
</div>